a,
a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 0.9rem;
    font-family: "Made Tommy";
}
body:after {
    content: " ";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url("/images/back.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
}

#__next {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.item-shadow {
    border-radius: 10px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 0px 30px 6px #ecf0f7;
    transition: 0.3s;
}
